[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "lib/hookmate"]
	path = lib/hookmate
	url = https://github.com/akshatmittal/hookmate
[submodule "context/unchain"]
	path = context/unchain
	url = https://github.com/unchain-app/readthedocs
[submodule "context/uniswap/v4-core"]
	path = context/uniswap/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "context/uniswap/v4-periphery"]
	path = context/uniswap/v4-periphery
	url = https://github.com/uniswap/v4-periphery
